## Import Libraries

In [6]:
import pandas as pd
import pyodbc
from sqlalchemy import create_engine
import random
from datetime import datetime, timedelta

## Connection with MS SQL

In [34]:
database_name = 'OLTP_Hospital_Management_System'

# Windows authentication connection string for MS SQL Server
conn_str = (
    r'Driver={SQL Server};'
    r'Server=.;'
    f'Database={database_name};'
    r'Trusted_Connection=yes;'
)

In [35]:
# Create a connection to the database
conn = pyodbc.connect(conn_str)

# Create a cursor object to execute SQL commands
cursor = conn.cursor()

## Social_Services table

In [14]:
# Define the service names
service_names = ["Operation", "Room Service", "Drugs"]

# Generate and insert 50 rows of data
for service_id in range(1, 51):
    service_name = service_names[service_id % len(service_names)]
    
    # Generate a random date within the last 30 days
    today = datetime.now()
    random_days = random.randint(1, 50)
    service_date = (today - timedelta(days=random_days)).strftime('%Y-%m-%d')

    cursor.execute("INSERT INTO Social_Services (Service_ID, Services_Name, day_of_service) VALUES (?, ?, ?)",
                   (service_id, service_name, service_date))

# Commit the changes to the database
conn.commit()
print("50 rows of data inserted successfully into the Social_Services table.")

50 rows of data inserted successfully into the Social_Services table.

## Students table

In [20]:
# Define the student categories
student_categories = ["Category A", "Category B", "Category C"]

# Generate lists of first names and last names
first_names = [
    "Ahmed", "Sami", "Omar", "Youssef", "Mohamed", "Ali", "Khaled", "Nabil", "Hassan", "Yasser",
    "Amira", "Fatima", "Nour", "Laila", "Yara", "Sara", "Mariam", "Mona", "Salma", "Samira"
]

# Male last names
male_last_names = [
    "Wael", "Sami", "Ali", "Khaled", "Hassan", "Nasser", "Ezzat", "Mahmoud", "Ahmed", "Sami"
]

# Generate and insert 50 rows of data with unique full names (first name + male last name)
for student_id in range(1, 51):
    first_name = random.choice(first_names)
    last_name = random.choice(male_last_names)

    student_name = f"{first_name} {last_name}"
    category = random.choice(student_categories)

    cursor.execute("INSERT INTO Students (Student_ID, Student_Name, Category) VALUES (?, ?, ?)",
                   (student_id, student_name, category))

# Commit the changes to the database
conn.commit()

print("50 rows of data inserted successfully into the Students table.")

50 rows of data inserted successfully into the Students table.

## Disease table

In [21]:
# Generate a list of disease names
disease_names = [
    "Fever", "Flu", "Common Cold", "Hypertension", "Diabetes", "Asthma", "Arthritis", "Bronchitis",
    "Migraine", "Appendicitis", "Pneumonia", "Anemia", "Eczema", "Hepatitis", "Gastritis", "Allergy",
    "Cancer", "Stroke", "Obesity", "Tuberculosis", "Dengue Fever", "Cholera", "Malaria", "HIV/AIDS",
    "Alzheimer's Disease", "Parkinson's Disease", "Epilepsy", "Schizophrenia", "Depression", "Anxiety",
    "Heart Attack", "Kidney Stones", "Liver Cirrhosis", "Rheumatoid Arthritis", "Gout", "Osteoporosis",
    "Ulcerative Colitis", "Crohn's Disease", "Multiple Sclerosis", "Chronic Bronchitis", "COPD",
    "Endometriosis", "PCOS", "Hypothyroidism", "Hyperthyroidism", "Celiac Disease", "Glaucoma", "Tinnitus",
    "Vertigo", "Panic Disorder", "Bipolar Disorder", "PTSD"
]

# Shuffle the list of disease names to ensure randomness
random.shuffle(disease_names)

# Generate and insert 50 rows of data with unique disease names
for dis_id in range(1, 51):
    disease_name = disease_names[dis_id - 1]

    cursor.execute("INSERT INTO Disease (Dis_ID, Dis_Name) VALUES (?, ?)",
                   (dis_id, disease_name))

# Commit the changes to the database
conn.commit()

print("50 rows of data inserted successfully into the Disease table.")

50 rows of data inserted successfully into the Disease table.

## Nurses table

In [24]:
# Generate lists of first names and last names
first_names = [
    "Ahmed", "Sami", "Omar", "Youssef", "Mohamed", "Ali", "Khaled", "Nabil", "Hassan", "Yasser",
    "Amira", "Fatima", "Nour", "Laila", "Yara", "Sara", "Mariam", "Mona", "Salma", "Samira"
]

# Male last names
male_last_names = [
    "Wael", "Sami", "Ali", "Khaled", "Hassan", "Nasser", "Ezzat", "Mahmoud", "Ahmed", "Sami"
]

# Generate and insert 50 rows of data with unique full names (first name + male last name)
for nurse_id in range(1, 51):
    first_name = random.choice(first_names)
    last_name = random.choice(male_last_names)

    nurse_name = f"{first_name} {last_name}"
    

    cursor.execute("INSERT INTO Nurses (Nurse_ID, Nurse_Name) VALUES (?, ?)",
                   (nurse_id, nurse_name))

# Commit the changes to the database
conn.commit()

print("50 rows of data inserted successfully into the nurses table.")

50 rows of data inserted successfully into the nurses table.

## Specialization table

In [36]:
# Generate a list of specialization names
specialization_names = [
    "Cardiology", "Dermatology", "Endocrinology", "Gastroenterology", "Hematology", "Neurology",
    "Oncology", "Orthopedics", "Pediatrics", "Psychiatry", "Radiology", "Surgery", "Urology",
    "Allergy and Immunology", "Anesthesiology", "Internal Medicine",
    "Obstetrics and Gynecology", "Ophthalmology", "Pathology", "Physical Medicine and Rehabilitation",
    "Preventive Medicine", "Pulmonology", "Rheumatology", "Emergency Medicine", "Critical Care Medicine",
    "Nephrology", "Infectious Disease",  "Neonatology", "Sports Medicine", "Forensic Medicine",
    "Clinical Genetics",  "Pain Medicine", "Integrative Medicine", 
    "Medical Genetics", "Molecular Medicine", "Addiction Medicine", "Medical Toxicology", "Clinical Informatics",
    "Interventional Radiology", "Dentistry", "Osteopathy", "Chiropractic", "Naturopathy"
]

# Shuffle the list of specialization names to ensure randomness
random.shuffle(specialization_names)

# Generate and insert 40 rows of data with unique specialization names
for spec_id in range(1, 41):  
    spec_name = specialization_names[spec_id - 1]

    cursor.execute("INSERT INTO Specialization (Spec_ID, Spec_Name) VALUES (?, ?)",
                   (spec_id, spec_name))


# Commit the changes to the database
conn.commit()

print("40 rows of data inserted successfully into the Specialization table.")

40 rows of data inserted successfully into the Specialization table.

In [33]:
# Close the cursor and connection
cursor.close()
conn.close()