## Import Libraries

In [127]:
import pandas as pd
import pyodbc
from sqlalchemy import create_engine
import random
from datetime import datetime, timedelta

## Connection with MS SQL

In [128]:
database_name = 'OLTP_Hospital_Management_System'

# Windows authentication connection string for MS SQL Server
conn_str = (
    r'Driver={SQL Server};'
    r'Server=.;'
    f'Database={database_name};'
    r'Trusted_Connection=yes;'
)

In [129]:
# Create a connection to the database
conn = pyodbc.connect(conn_str)

# Create a cursor object to execute SQL commands
cursor = conn.cursor()

## Social_Services table

In [84]:
service_names = [
    "Patient Assistance Programs", "Health Education", "Community Outreach",
    "Home Health Visits", "Support Groups", "Disease Prevention Programs",
    "Mental Health Counseling", "Substance Abuse Counseling", "Nutritional Counseling",
    "Family Planning Services", "Prenatal Care Classes", "Parenting Classes",
    "Elderly Care Services", "Disability Services", "Healthcare Navigation",
    "Rehabilitation Services", "Patient Transport Services", "Telehealth Services",
    "Health Screenings", "Health Promotion Campaigns", "Wellness Workshops",
    "Social Support Programs", "Patient Follow-up Calls", "Healthcare Coordination",
    "Emergency Response Training", "Disaster Preparedness Programs", "Health Information Sessions",
    "Financial Counseling", "Patient Rights Advocacy","Vaccinations"
]

is_current = 0
start_date = datetime(2022, 1, 1) 
for service_id in range(1, 51):
    service_name = random.choice(service_names)
    day_of_service = start_date + timedelta(days=random.randint(1, 365))  
    last_modified_date = datetime(2024, 4, 26, random.randint(0, 23), random.randint(0, 59), random.randint(0, 59))

    cursor.execute("INSERT INTO Social_Services (Service_ID, Services_Name, Day_of_Service,LastModifiedDate,is_current ) VALUES (?, ?, ?,?,?)",
                   (service_id, service_name, day_of_service,last_modified_date,is_current))

# Commit the changes to the database
conn.commit()

print("50 rows of data inserted successfully into the Social_Services table.")

50 rows of data inserted successfully into the Social_Services table.

## Students table

In [85]:
student_categories = ["Category A", "Category B", "Category C"]

first_names = [
    "Ahmed", "Sami", "Omar", "Youssef", "Mohamed", "Ali", "Khaled", "Nabil", "Hassan", "Yasser",
    "Amira", "Fatima", "Nour", "Laila", "Yara", "Sara", "Mariam", "Mona", "Salma", "Samira"
]


male_last_names = [
    "Wael", "Sami", "Ali", "Khaled", "Hassan", "Nasser", "Ezzat", "Mahmoud", "Ahmed", "Sami"
]

is_current = 0
for student_id in range(1, 101):
    first_name = random.choice(first_names)
    last_name = random.choice(male_last_names)
    student_name = f"{first_name} {last_name}"
    category = random.choice(student_categories)
    last_modified_date = datetime(2024, 4, 26, random.randint(0, 23), random.randint(0, 59), random.randint(0, 59))
    cursor.execute("INSERT INTO Students (Student_ID, Student_Name, Category,LastModifiedDate,is_current) VALUES (?, ?, ?,?,?)",
                   (student_id, student_name, category,last_modified_date,is_current))


conn.commit()
print("50 rows of data inserted successfully into the Students table.")

50 rows of data inserted successfully into the Students table.

## Disease table

In [86]:

disease_names = [
    "Fever", "Flu", "Common Cold", "Hypertension", "Diabetes", "Asthma", "Arthritis", "Bronchitis",
    "Migraine", "Appendicitis", "Pneumonia", "Anemia", "Eczema", "Hepatitis", "Gastritis", "Allergy",
    "Cancer", "Stroke", "Obesity", "Tuberculosis", "Dengue Fever", "Cholera", "Malaria", "HIV/AIDS",
    "Alzheimer's Disease", "Parkinson's Disease", "Epilepsy", "Schizophrenia", "Depression", "Anxiety",
    "Heart Attack", "Kidney Stones", "Liver Cirrhosis", "Rheumatoid Arthritis", "Gout", "Osteoporosis",
    "Ulcerative Colitis", "Crohn's Disease", "Multiple Sclerosis", "Chronic Bronchitis", "COPD",
    "Endometriosis", "PCOS", "Hypothyroidism", "Hyperthyroidism", "Celiac Disease", "Glaucoma", "Tinnitus",
    "Vertigo", "Panic Disorder", "Bipolar Disorder", "PTSD"
]


random.shuffle(disease_names)

is_current = 0
for dis_id in range(1, 51):
    disease_name = disease_names[dis_id - 1]
    last_modified_date = datetime(2024, 4, 26, random.randint(0, 23), random.randint(0, 59), random.randint(0, 59))
    cursor.execute("INSERT INTO Disease (Dis_ID, Dis_Name,LastModifiedDate,is_current) VALUES (?, ?,?,?)",
                   (dis_id, disease_name,last_modified_date,is_current))


conn.commit()
print("50 rows of data inserted successfully into the Disease table.")

50 rows of data inserted successfully into the Disease table.

## Nurses table

In [87]:

first_names = [
    "Ahmed", "Sami", "Omar", "Youssef", "Mohamed", "Ali", "Khaled", "Nabil", "Hassan", "Yasser",
    "Amira", "Fatima", "Nour", "Laila", "Yara", "Sara", "Mariam", "Mona", "Salma", "Samira"
]

male_last_names = [
    "Wael", "Sami", "Ali", "Khaled", "Hassan", "Nasser", "Ezzat", "Mahmoud", "Ahmed", "Sami"
]

is_current = 0
for nurse_id in range(1, 51):
    first_name = random.choice(first_names)
    last_name = random.choice(male_last_names)
    nurse_name = f"{first_name} {last_name}"
    last_modified_date = datetime(2024, 4, 26, random.randint(0, 23), random.randint(0, 59), random.randint(0, 59))
    cursor.execute("INSERT INTO Nurses (Nurse_ID, Nurse_Name,LastModifiedDate,is_current) VALUES (?, ?,?,?)",
                   (nurse_id, nurse_name,last_modified_date,is_current))


conn.commit()
print("50 rows of data inserted successfully into the nurses table.")

50 rows of data inserted successfully into the nurses table.

## Specialization table

In [88]:
# Generate a list of specialization names
specialization_names = [
    "Cardiology", "Dermatology", "Endocrinology", "Gastroenterology", "Hematology", "Neurology",
    "Oncology", "Orthopedics", "Pediatrics", "Psychiatry", "Radiology", "Surgery", "Urology",
    "Allergy and Immunology", "Anesthesiology", "Internal Medicine",
    "Obstetrics and Gynecology", "Ophthalmology", "Pathology", "Physical Medicine and Rehabilitation",
    "Preventive Medicine", "Pulmonology", "Rheumatology", "Emergency Medicine", "Critical Care Medicine",
    "Nephrology", "Infectious Disease",  "Neonatology", "Sports Medicine", "Forensic Medicine",
    "Clinical Genetics",  "Pain Medicine", "Integrative Medicine", 
    "Medical Genetics", "Molecular Medicine", "Addiction Medicine", "Medical Toxicology", "Clinical Informatics",
    "Interventional Radiology", "Dentistry", "Osteopathy", "Chiropractic", "Naturopathy"
]


random.shuffle(specialization_names)

is_current=0
for spec_id in range(1, 41):  
    spec_name = specialization_names[spec_id - 1]
    last_modified_date = datetime(2024, 4, 26, random.randint(0, 23), random.randint(0, 59), random.randint(0, 59))
    cursor.execute("INSERT INTO Specialization (Spec_ID, Spec_Name,LastModifiedDate,is_current) VALUES (?, ?, ?,?)",
                   (spec_id, spec_name,last_modified_date,is_current))



conn.commit()
print("40 rows of data inserted successfully into the Specialization table.")

40 rows of data inserted successfully into the Specialization table.

## Pharmacy_Address table

In [89]:
cities_and_streets = {
    "Giza": [
        "Pyramids Street", "El Haram Street", "Faisal Street", "Imbaba Street", "Mohandessin Street",
        "El Mohandesin Street", "El Tahrir Street", "El Agouza Street", "El Bahr El Aazam Street",
        "Rod El Farag Street", "Dokki Street", "Haram Street", "Sphinx Square"
    ],
    "Cairo": [
        "Tahrir Square", "Mohamed Mahmoud Street", "Nile Corniche", "Zamalek Street", "El Khamayel Street",
        "El Marghany Street", "Cairo-Alexandria Desert Road", "5th Settlement Street", "El Maadi Street",
        "Nasr City Street", "El Geish Street", "El Thawra Street", "El Haram Street", "Mohandessin Street",
        "El Kornish Street", "Abd El Aziz Fahmy Street", "Sphinx Square", "El Batal Ahmed Abdel Aziz Street",
        "El Gomhoreya Street", "Talaat Harb Street", "Abbas El Akkad Street", "El Hegaz Street", "El Obour Street"
    ],
    "Delta": [
        "El Mahalla El Kubra Street", "Banha Street", "Kafr El Sheikh Street", "Tanta Street", "Mansoura Street",
        "Damanhur Street", "Zagazig Street", "Benha Street", "El Mansheya Street", "El Kholi Street",
        "El Galaa Street", "El Abbasyia Street", "El Eshreen Street", "El Zaher Street", "El Azhar Street",
        "El Masry Street", "El Nasr Road", "El Gomrok Street", "El Nasr Street", "El Sheikha Ragiha Street",
        "El Amir Tadros Street", "El Makrizi Street", "El Geish Street", "El Thawra Street"
    ]
}

delta_cities = ["Mansoura", "Tanta", "Damanhur", "Zagazig", "Benha", "Kafr El Sheikh", "El Mahalla El Kubra", "Banha"]


for city_streets in cities_and_streets.values():
    random.shuffle(city_streets)

is_current =0
for zip_code in range(2000, 2051): 
    city = random.choice(delta_cities + ["Cairo", "Giza"])
    if city == "Cairo":
        street = random.choice(cities_and_streets["Cairo"])
    elif city == "Giza":
        street = random.choice(cities_and_streets["Giza"])
    else:
        street = random.choice(cities_and_streets["Delta"])
    last_modified_date = datetime(2024, 4, 26, random.randint(0, 23), random.randint(0, 59), random.randint(0, 59))
    cursor.execute("INSERT INTO Pharmacy_Address (Zip_code, City, Street,LastModifiedDate,is_current) VALUES (?, ?, ?, ?,?)",
                   (zip_code, city, street, last_modified_date, is_current))


conn.commit()

print("50 rows of data inserted successfully into the Pharmacy_Address table.")

50 rows of data inserted successfully into the Pharmacy_Address table.

## Patients_Address table

In [90]:
cities_and_streets = {
    "Giza": [
        "Pyramids Street", "El Haram Street", "Faisal Street", "Imbaba Street", "Mohandessin Street",
        "El Mohandesin Street", "El Tahrir Street", "El Agouza Street", "El Bahr El Aazam Street",
        "Rod El Farag Street", "Dokki Street", "Haram Street", "Sphinx Square"
    ],
    "Cairo": [
        "Tahrir Square", "Mohamed Mahmoud Street", "Nile Corniche", "Zamalek Street", "El Khamayel Street",
        "El Marghany Street", "Cairo-Alexandria Desert Road", "5th Settlement Street", "El Maadi Street",
        "Nasr City Street", "El Geish Street", "El Thawra Street", "El Haram Street", "Mohandessin Street",
        "El Kornish Street", "Abd El Aziz Fahmy Street", "Sphinx Square", "El Batal Ahmed Abdel Aziz Street",
        "El Gomhoreya Street", "Talaat Harb Street", "Abbas El Akkad Street", "El Hegaz Street", "El Obour Street"
    ],
    "Delta": [
        "El Mahalla El Kubra Street", "Banha Street", "Kafr El Sheikh Street", "Tanta Street", "Mansoura Street",
        "Damanhur Street", "Zagazig Street", "Benha Street", "El Mansheya Street", "El Kholi Street",
        "El Galaa Street", "El Abbasyia Street", "El Eshreen Street", "El Zaher Street", "El Azhar Street",
        "El Masry Street", "El Nasr Road", "El Gomrok Street", "El Nasr Street", "El Sheikha Ragiha Street",
        "El Amir Tadros Street", "El Makrizi Street", "El Geish Street", "El Thawra Street"
    ]
}

delta_cities = ["Mansoura", "Tanta", "Damanhur", "Zagazig", "Benha", "Kafr El Sheikh", "El Mahalla El Kubra", "Banha"]

is_current=0
for city_streets in cities_and_streets.values():
    random.shuffle(city_streets)


for zip_code in range(2000, 2051): 
    city = random.choice(delta_cities + ["Cairo", "Giza"])
    if city == "Cairo":
        street = random.choice(cities_and_streets["Cairo"])
    elif city == "Giza":
        street = random.choice(cities_and_streets["Giza"])
    else:
        street = random.choice(cities_and_streets["Delta"])
    last_modified_date = datetime(2024, 4, 26, random.randint(0, 23), random.randint(0, 59), random.randint(0, 59))
    cursor.execute("INSERT INTO Patients_Address (Zip_code, City, Street, LastModifiedDate,is_current) VALUES (?, ?, ?,?,?)",
                   (zip_code, city, street,last_modified_date, is_current))


conn.commit()

print("50 rows of data inserted successfully into the Patients_Address table.")

50 rows of data inserted successfully into the Patients_Address table.

## Doctors_Address table

In [91]:
cities_and_streets = {
    "Giza": [
        "Pyramids Street", "El Haram Street", "Faisal Street", "Imbaba Street", "Mohandessin Street",
        "El Mohandesin Street", "El Tahrir Street", "El Agouza Street", "El Bahr El Aazam Street",
        "Rod El Farag Street", "Dokki Street", "Haram Street", "Sphinx Square"
    ],
    "Cairo": [
        "Tahrir Square", "Mohamed Mahmoud Street", "Nile Corniche", "Zamalek Street", "El Khamayel Street",
        "El Marghany Street", "Cairo-Alexandria Desert Road", "5th Settlement Street", "El Maadi Street",
        "Nasr City Street", "El Geish Street", "El Thawra Street", "El Haram Street", "Mohandessin Street",
        "El Kornish Street", "Abd El Aziz Fahmy Street", "Sphinx Square", "El Batal Ahmed Abdel Aziz Street",
        "El Gomhoreya Street", "Talaat Harb Street", "Abbas El Akkad Street", "El Hegaz Street", "El Obour Street"
    ],
    "Delta": [
        "El Mahalla El Kubra Street", "Banha Street", "Kafr El Sheikh Street", "Tanta Street", "Mansoura Street",
        "Damanhur Street", "Zagazig Street", "Benha Street", "El Mansheya Street", "El Kholi Street",
        "El Galaa Street", "El Abbasyia Street", "El Eshreen Street", "El Zaher Street", "El Azhar Street",
        "El Masry Street", "El Nasr Road", "El Gomrok Street", "El Nasr Street", "El Sheikha Ragiha Street",
        "El Amir Tadros Street", "El Makrizi Street", "El Geish Street", "El Thawra Street"
    ]
}

delta_cities = ["Mansoura", "Tanta", "Damanhur", "Zagazig", "Benha", "Kafr El Sheikh", "El Mahalla El Kubra", "Banha"]

is_current=0
for city_streets in cities_and_streets.values():
    random.shuffle(city_streets)


for zip_code in range(2000, 2051): 
    city = random.choice(delta_cities + ["Cairo", "Giza"])
    if city == "Cairo":
        street = random.choice(cities_and_streets["Cairo"])
    elif city == "Giza":
        street = random.choice(cities_and_streets["Giza"])
    else:
        street = random.choice(cities_and_streets["Delta"])
    last_modified_date = datetime(2024, 4, 26, random.randint(0, 23), random.randint(0, 59), random.randint(0, 59))
    cursor.execute("INSERT INTO Doctors_Address (Zip_code, City, Street, LastModifiedDate,is_current) VALUES (?, ?, ?,?,?)",
                   (zip_code, city, street, last_modified_date,is_current ))


conn.commit()

print("50 rows of data inserted successfully into the Doctors_Address table.")

50 rows of data inserted successfully into the Doctors_Address table.

## Nurses_Students table

In [92]:
is_current =0
for student_id in range(1, 101):
    nurse_id = random.randint(1, 50)
    last_modified_date = datetime(2024, 4, 26, random.randint(0, 23), random.randint(0, 59), random.randint(0, 59))
    cursor.execute("INSERT INTO Nurses_Students (Student_ID, Nurse_ID,LastModifiedDate,is_current) VALUES (?, ?,?,?)",
                   (student_id, nurse_id, last_modified_date,is_current ))


conn.commit()

print("Data inserted successfully into Nurses_Students tables.")

Data inserted successfully into Nurses_Students tables.

## Houses_Address table

In [93]:
cities_and_streets = {
    "Giza": [
        "Pyramids Street", "El Haram Street", "Faisal Street", "Imbaba Street", "Mohandessin Street",
        "El Mohandesin Street", "El Tahrir Street", "El Agouza Street", "El Bahr El Aazam Street",
        "Rod El Farag Street", "Dokki Street", "Haram Street", "Sphinx Square"
    ],
    "Cairo": [
        "Tahrir Square", "Mohamed Mahmoud Street", "Nile Corniche", "Zamalek Street", "El Khamayel Street",
        "El Marghany Street", "Cairo-Alexandria Desert Road", "5th Settlement Street", "El Maadi Street",
        "Nasr City Street", "El Geish Street", "El Thawra Street", "El Haram Street", "Mohandessin Street",
        "El Kornish Street", "Abd El Aziz Fahmy Street", "Sphinx Square", "El Batal Ahmed Abdel Aziz Street",
        "El Gomhoreya Street", "Talaat Harb Street", "Abbas El Akkad Street", "El Hegaz Street", "El Obour Street"
    ],
    "Delta": [
        "El Mahalla El Kubra Street", "Banha Street", "Kafr El Sheikh Street", "Tanta Street", "Mansoura Street",
        "Damanhur Street", "Zagazig Street", "Benha Street", "El Mansheya Street", "El Kholi Street",
        "El Galaa Street", "El Abbasyia Street", "El Eshreen Street", "El Zaher Street", "El Azhar Street",
        "El Masry Street", "El Nasr Road", "El Gomrok Street", "El Nasr Street", "El Sheikha Ragiha Street",
        "El Amir Tadros Street", "El Makrizi Street", "El Geish Street", "El Thawra Street"
    ]
}

delta_cities = ["Mansoura", "Tanta", "Damanhur", "Zagazig", "Benha", "Kafr El Sheikh", "El Mahalla El Kubra", "Banha"]

is_current=0
for city_streets in cities_and_streets.values():
    random.shuffle(city_streets)


for zip_code in range(2000, 2051): 
    city = random.choice(delta_cities + ["Cairo", "Giza"])
    if city == "Cairo":
        street = random.choice(cities_and_streets["Cairo"])
    elif city == "Giza":
        street = random.choice(cities_and_streets["Giza"])
    else:
        street = random.choice(cities_and_streets["Delta"])
    last_modified_date = datetime(2024, 4, 26, random.randint(0, 23), random.randint(0, 59), random.randint(0, 59))
    
    cursor.execute("INSERT INTO Houses_Address (Zip_code, City, Street,LastModifiedDate,is_current) VALUES (?, ?, ?,?,?)",
                   (zip_code, city, street,last_modified_date,is_current))


conn.commit()

print("50 rows of data inserted successfully into the Houses_Address table.")

50 rows of data inserted successfully into the Houses_Address table.

## Houses table

In [95]:
is_current=0
for house_id in range(1, 51):
    patient_id = random.randint(1, 100)  
    zip_code = random.randint(2000, 2051)  
    nurse_id = random.randint(1, 50)  
    last_modified_date = datetime(2024, 4, 26, random.randint(0, 23), random.randint(0, 59), random.randint(0, 59))
    cursor.execute("INSERT INTO Houses (House_ID, Patient_ID, Zip_code, Nurse_ID, LastModifiedDate,is_current) VALUES (?, ?, ?, ?,?,?)",
                   (house_id, patient_id, zip_code, nurse_id,  last_modified_date,is_current ))


conn.commit()
print("50 rows of data inserted successfully into the Houses table.")

50 rows of data inserted successfully into the Houses table.

## Nurses_Social_Services table

In [96]:
is_current=0
for row_id in range(1, 51):
    service_id = random.randint(1, 50) 
    nurse_id = random.randint(1, 50) 
    last_modified_date = datetime(2024, 4, 26, random.randint(0, 23), random.randint(0, 59), random.randint(0, 59))
    cursor.execute("INSERT INTO Nurses_Social_Services (Service_ID, Nurse_ID,LastModifiedDate,is_current) VALUES (?, ?,?,?)",
                   (service_id, nurse_id, last_modified_date,is_current))


conn.commit()
print("50 rows of data inserted successfully into the Nurses_Social_Services table.")

50 rows of data inserted successfully into the Nurses_Social_Services table.

## Patients table

In [117]:
egyptian_patient_names = [
    "Ahmed Ali", "Fatma Mohamed", "Youssef Ibrahim", "Nourhan Hassan", "Mahmoud Omar",
    "Aya Samir", "Mohamed Abdelrahman", "Sara Mahmoud", "Omar Ahmed", "Nada Mostafa",
    "Mohamed Salah", "Mariam Adel", "Ali Gamal", "Rana Ahmed", "Ahmed Mohamed",
    "Nour El Din", "Nora Mohamed", "Ahmed Samir", "Reem Ali", "Khaled Mohamed",
    "Yara Ahmed", "Mohamed Hassan", "Mona Mohamed", "Hassan Ibrahim", "Hend Salah",
    "Mohamed Adel", "Sama Samir", "Omar Mohamed", "Fatma Ahmed", "Saeed Mohamed",
    "Hana Ali", "Ali Abdelrahman", "Farida Mahmoud", "Khaled Ahmed", "Mai Mohamed",
    "Mohamed El Sayed", "Salma Ahmed", "Amr Mohamed", "Habiba Abdelrahman", "Hossam Ali",
    "Riham Ahmed", "Mahmoud Mohamed", "Nada Hassan", "Mohamed Samir", "Amina Ali",
    "Ahmed Adel", "Reham Mahmoud", "Youssef Ahmed", "Nourhan Mohamed", "Ahmed El Sayed"
]

is_current=0
start_date = datetime(2022, 1, 1)  
for patient_id in range(1, 51):
    patient_name = random.choice(egyptian_patient_names)
    date_admitted = start_date + timedelta(days=random.randint(1, 365))  
    date_discharged = date_admitted + timedelta(days=random.randint(1, 30))  
    patient_gender = random.choice(["Male", "Female"])
    room_no = f"Room {random.randint(100, 999)}"
    problem = random.choice(["Fever", "Injury", "Surgery", "Chronic Illness"])
    category = random.choice(["Emergency", "Routine", "Specialist"])
    zip_code = random.randint(2000, 2051)  # Random zip code
    last_modified_date = datetime(2024, 4, 26, random.randint(0, 23), random.randint(0, 59), random.randint(0, 59))
    cursor.execute("INSERT INTO Patients (Patient_ID, Patient_Name, Date_admitted, Date_discharged, "
                   "Patient_Gender, Room_NO, Problem, Category, Zip_code,LastModifiedDate,is_current) "
                   "VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?,?,?)",
                   (patient_id, patient_name, date_admitted, date_discharged, patient_gender,
                    room_no, problem, category, zip_code,last_modified_date,is_current))


conn.commit()
print("50 rows of data inserted successfully into the Patients table for Egyptian patients.")

50 rows of data inserted successfully into the Patients table for Egyptian patients.

## Patients_Disease table

In [118]:
is_current=0
for row_id in range(1, 51):
    patient_id = random.randint(1, 50)  
    disease_id = random.randint(1, 50)  
    last_modified_date = datetime(2024, 4, 26, random.randint(0, 23), random.randint(0, 59), random.randint(0, 59))
    cursor.execute("INSERT INTO Patients_Disease (Patient_ID, Dis_ID,LastModifiedDate,is_current) VALUES (?, ?,?,?)",
                   (patient_id, disease_id,last_modified_date,is_current))


conn.commit()
print("50 rows of data inserted successfully into the Patients_Disease table.")

50 rows of data inserted successfully into the Patients_Disease table.

## Patients_Phone table

In [119]:
is_current=0
for row_id in range(1, 51):
    patient_id = random.randint(1, 50)  
    prefix = random.choice(['012', '011', '010', '015'])
    suffix = ''.join(random.choices('0123456789', k=8))  

    contact_no = prefix + suffix
    last_modified_date = datetime(2024, 4, 26, random.randint(0, 23), random.randint(0, 59), random.randint(0, 59))
    
    cursor.execute("INSERT INTO Patients_Phone (Patient_ID, Contact_NO,LastModifiedDate,is_current) VALUES (?, ?,?,?)",
                   (patient_id, contact_no,last_modified_date,is_current))

# Commit the changes to the database
conn.commit()
print("50 rows of data inserted successfully into the Patients_Phone table.")

50 rows of data inserted successfully into the Patients_Phone table.

## Prescription table

In [120]:
egyptian_doctors = [
    "Dr. Ahmed Mohamed",
    "Dr. Fatma Ali",
    "Dr. Mahmoud Hassan",
    "Dr. Aya Abdelrahman",
    "Dr. Mohamed Ibrahim",
    "Dr. Nourhan Salah",
    "Dr. Amr Ahmed",
    "Dr. Sara Abdelhamid",
    "Dr. Mahmoud Elsharif",
    "Dr. Nada Mohamed",
    "Dr. Ahmed Samir",
    "Dr. Yasmin Mahmoud",
    "Dr. Tarek Mohamed",
    "Dr. Hana Ahmed",
    "Dr. Omar Hassan",
    "Dr. Salma Mohamed",
    "Dr. Youssef Ali",
    "Dr. Mariam Ahmed",
    "Dr. Ali Ibrahim",
    "Dr. Dina Mostafa",
]

is_current=0
for pres_id in range(1, 51):
    patient_id = random.randint(1, 50)  
    pres_date = datetime.now() - timedelta(days=random.randint(1, 365))  
    pres_by = random.choice(egyptian_doctors)
    last_modified_date = datetime(2024, 4, 26, random.randint(0, 23), random.randint(0, 59), random.randint(0, 59))
    cursor.execute("INSERT INTO Prescription (Pres_ID, Patient_ID, Pres_Date, PresBY,LastModifiedDate,is_current) VALUES (?, ?, ?, ?,?,?)",
                   (pres_id, patient_id, pres_date, pres_by,last_modified_date,is_current))


conn.commit()
print("50 rows of data with Egyptian doctor names inserted successfully into the Prescription table.")

50 rows of data with Egyptian doctor names inserted successfully into the Prescription table.

## Pharmacy table

In [121]:
egyptian_pharmacy_names = [
    "El Nour Pharmacy",
    "El Seha Pharmacy",
    "El Shifa Pharmacy",
    "El Salam Pharmacy",
    "El Sahaba Pharmacy",
    "El Amal Pharmacy",
    "El Hikma Pharmacy",
    "El Kheir Pharmacy",
    "El Hayat Pharmacy",
    "El Aman Pharmacy",
    "El Gamal Pharmacy",
    "El Mostaqbal Pharmacy",
    "El Mokhtar Pharmacy",
    "El Nasr Pharmacy",
    "El Fath Pharmacy",
    "El Iman Pharmacy",
    "El Madina Pharmacy",
    "El Taqwa Pharmacy",
    "El Wafaa Pharmacy",
    "El Yaqeen Pharmacy",
]

is_current=0
for pharmacy_id in range(1, 51):
    zip_code = random.randint(2000, 2051)  
    pharmacy_name = random.choice(egyptian_pharmacy_names)
    last_modified_date = datetime(2024, 4, 26, random.randint(0, 23), random.randint(0, 59), random.randint(0, 59))
    cursor.execute("INSERT INTO Pharmacy (Pharmacy_ID, Zip_code, Pharmacy_Name,LastModifiedDate,is_current) VALUES (?, ?, ?,?,?)",
                   (pharmacy_id, zip_code, pharmacy_name, last_modified_date, is_current))


conn.commit()
print("50 rows of data with Egyptian pharmacy names inserted successfully into the Pharmacy table.")

50 rows of data with Egyptian pharmacy names inserted successfully into the Pharmacy table.

## Pharmacy_Phone  table

In [122]:
is_current=0
for row_id in range(1, 51):
    Pharmacy_ID = random.randint(1, 50)  
    prefix = random.choice(['012', '011', '010', '015'])
    suffix = ''.join(random.choices('0123456789', k=8))  

    contact_no = prefix + suffix
    last_modified_date = datetime(2024, 4, 26, random.randint(0, 23), random.randint(0, 59), random.randint(0, 59))
    cursor.execute("INSERT INTO Pharmacy_Phone (Pharmacy_ID, Contact_NO, LastModifiedDate,is_current) VALUES (?, ?,?,?)",
                   (Pharmacy_ID, contact_no,last_modified_date,is_current))


conn.commit()
print("50 rows of data inserted successfully into the Pharmacy_ID table.")

50 rows of data inserted successfully into the Pharmacy_ID table.

## Drugs table

In [123]:
drug_purposes = [
    "Pain Relief", "Antibiotic", "Anti-inflammatory", "Antihistamine", "Antacid", "Antipyretic",
    "Antidepressant", "Antiviral", "Anticoagulant", "Antiemetic", "Antifungal", "Antiseptic",
    "Antihypertensive", "Antidiabetic", "Antianxiety", "Bronchodilator", "Diuretic", "Laxative",
    "Muscle Relaxant", "Vitamin Supplement", "Antiemetic", "Stimulant", "Sedative", "Antipsychotic",
    "Antiemetic", "Immunosuppressant", "Decongestant", "Antiemetic", "Antispasmodic", "Antiemetic",
]

manufacturers = [
    "Pfizer", "Novartis", "Merck & Co.", "GlaxoSmithKline", "Johnson & Johnson", "Roche", "Sanofi",
    "AbbVie", "Gilead Sciences", "AstraZeneca", "Bayer", "Eli Lilly and Company", "Bristol Myers Squibb",
    "Amgen", "Boehringer Ingelheim", "Biogen", "Takeda Pharmaceutical", "Abbott Laboratories",
    "Allergan", "Sandoz", "Novo Nordisk", "Celgene", "Mylan", "Purdue Pharma", "Astellas Pharma",
    "Daiichi Sankyo", "Teva Pharmaceutical", "Sun Pharmaceuticals", "Vertex Pharmaceuticals",
    "Otsuka Pharmaceutical", "Teva Pharmaceutical", "Alcon", "Bausch Health", "Regeneron Pharmaceuticals",
]


drug_names = [
    "Aspirin", "Amoxicillin", "Ibuprofen", "Loratadine", "Ranitidine", "Acetaminophen",
    "Sertraline", "Acyclovir", "Warfarin", "Ondansetron", "Fluconazole", "Betadine",
    "Lisinopril", "Metformin", "Alprazolam", "Albuterol", "Furosemide", "Docusate",
    "Cyclobenzaprine", "Vitamin C", "Ondansetron", "Caffeine", "Melatonin", "Olanzapine",
    "Ondansetron", "Azathioprine", "Pseudoephedrine", "Ondansetron", "Hyoscyamine", "Ondansetron",
]

is_current=0
for drug_id in range(1, 51):
    pharmacy_id = random.randint(1, 50)  
    purpose = random.choice(drug_purposes)
    manufacturer = random.choice(manufacturers)
    drug_name = random.choice(drug_names)
    last_modified_date = datetime(2024, 4, 26, random.randint(0, 23), random.randint(0, 59), random.randint(0, 59))
    cursor.execute("INSERT INTO Drugs (Drug_ID, Pharmacy_ID, Purpose_of_Drug, Manufacture_drug, Drug_Name,LastModifiedDate,is_current) "
                   "VALUES (?, ?, ?, ?, ?,?,?)",
                   (drug_id, pharmacy_id, purpose, manufacturer, drug_name,last_modified_date,is_current))


conn.commit()
print("50 rows of data inserted successfully into the Drugs table.")

50 rows of data inserted successfully into the Drugs table.

## Prescription_Drugs

In [125]:
unique_combinations = set()
is_current = 0
while len(unique_combinations) < 50:
    pres_id = random.randint(1, 40)
    drug_id = random.randint(1, 50)

    combination = (pres_id, drug_id)
    if combination not in unique_combinations:
        unique_combinations.add(combination)
        last_modified_date = datetime(2024, 4, 26, random.randint(0, 23), random.randint(0, 59), random.randint(0, 59))
        cursor.execute("INSERT INTO Prescription_Drugs (Pres_ID, Drug_ID, LastModifiedDate, is_current) VALUES (?, ?, ?, ?)",
                       (pres_id, drug_id, last_modified_date, is_current))

conn.commit()
print("50 rows of data inserted successfully into the Prescription_Drugs table.")

50 rows of data inserted successfully into the Prescription_Drugs table.

## Doctors tables

In [130]:
egyptian_first_names = [
    "Ahmed", "Mohamed", "Ali", "Omar", "Abdullah", "Youssef", "Khaled", "Mahmoud", "Tarek", "Amr",
    "Hassan", "Mustafa", "Hesham", "Sayed", "Yasser", "Kareem", "Maged", "Wael", "Khaled", "Samir"
]
egyptian_last_names = [
    "Mahmoud", "Ali", "Sayed", "Mohamed", "Ibrahim", "Hassan", "Ahmed", "Ezzat", "Khalifa", "Hamed",
    "Abdallah", "Nabil", "Fathy", "Sami", "Gaber", "Wahed", "Kamal", "Hamdy", "El-Sayed", "Abdel-Aziz"
]

is_current=0
for doctor_id in range(1, 51):
    experience_years = random.randint(1, 20)  
    doctor_name = random.choice(egyptian_first_names) + " " + random.choice(egyptian_last_names)
    spec_id = random.randint(1, 40)  
    zip_code = random.randint(2000, 2051)  
    last_modified_date = datetime(2024, 4, 26, random.randint(0, 23), random.randint(0, 59), random.randint(0, 59))
    cursor.execute("INSERT INTO Doctors (Doctor_ID, Experience_year, Doctor_Name, Spec_ID, Zip_code,LastModifiedDate, is_current) VALUES (?, ?, ?, ?, ?,?,?)",
                   (doctor_id, experience_years, doctor_name, spec_id, zip_code, last_modified_date,is_current))
conn.commit()
print("50 rows of data with Egyptian doctor names inserted successfully into the Doctors table.")

50 rows of data with Egyptian doctor names inserted successfully into the Doctors table.

## Doctors_Phone table

In [131]:
is_current=0
for row_id in range(1, 51):
    Doctor_ID = random.randint(1, 50)  
    prefix = random.choice(['012', '011', '010', '015'])
    suffix = ''.join(random.choices('0123456789', k=8))  

    contact_no = prefix + suffix
    last_modified_date = datetime(2024, 4, 26, random.randint(0, 23), random.randint(0, 59), random.randint(0, 59))
    cursor.execute("INSERT INTO Doctors_Phone (Doctor_ID, Contact_NO, LastModifiedDate, is_current) VALUES (?, ?,?,?)",
                   (Doctor_ID, contact_no, last_modified_date,is_current))


conn.commit()
print("50 rows of data inserted successfully into the Doctors_Phone table.")

50 rows of data inserted successfully into the Doctors_Phone table.

## Doctors_Patients table

In [132]:
unique_combinations = set()
is_current = 0
while len(unique_combinations) < 50:
    Patient_ID = random.randint(1, 50)
    Doctor_ID = random.randint(1, 50)

    combination = (Patient_ID, Doctor_ID)
    if combination not in unique_combinations:
        unique_combinations.add(combination)
        last_modified_date = datetime(2024, 4, 26, random.randint(0, 23), random.randint(0, 59), random.randint(0, 59))
        cursor.execute("INSERT INTO Doctors_Patients (Patient_ID, Doctor_ID, LastModifiedDate, is_current) VALUES (?, ?, ?, ?)",
                       (Patient_ID, Doctor_ID, last_modified_date, is_current))

conn.commit()
print("50 rows of data inserted successfully into the Doctors_Patients table.")

50 rows of data inserted successfully into the Doctors_Patients table.

## Nurses_Patients table

In [133]:
unique_combinations = set()
is_current = 0
while len(unique_combinations) < 50:
    Nurse_ID = random.randint(1, 50)
    Patient_ID = random.randint(1, 50)

    combination = (Nurse_ID, Patient_ID)
    if combination not in unique_combinations:
        unique_combinations.add(combination)
        last_modified_date = datetime(2024, 4, 26, random.randint(0, 23), random.randint(0, 59), random.randint(0, 59))
        cursor.execute("INSERT INTO Nurses_Patients (Nurse_ID, Patient_ID, LastModifiedDate, is_current) VALUES (?, ?, ?, ?)",
                       (Nurse_ID, Patient_ID, last_modified_date, is_current))

conn.commit()
print("50 rows of data inserted successfully into the Nurses_Patients table.")

50 rows of data inserted successfully into the Nurses_Patients table.

## Accounts table

In [134]:
is_current=0
for account_id in range(1, 51):
    patient_id = random.randint(1, 50)  
    services_description = random.choice(["Operation", "Room Service", "Drugs"])
    total_account = round(random.uniform(5000, 50000), 2)  
    last_modified_date = datetime(2024, 4, 26, random.randint(0, 23), random.randint(0, 59), random.randint(0, 59))
    cursor.execute("INSERT INTO Accounts ( Patient_ID, Services_Description, Total_Account,LastModifiedDate, is_current) VALUES ( ?, ?, ?,?,?)",
                   ( patient_id, services_description, total_account,last_modified_date,is_current))
    

conn.commit()

print("50 rows of data inserted successfully into the Accounts table.")

50 rows of data inserted successfully into the Accounts table.

In [135]:
# Close the cursor and connection
cursor.close()
conn.close()